In [ ]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.2.12-py2.py3-none-any.whl (59 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 59.2/59.2 KB 1.6 MB/s eta 0:00:00
Collecting cryptography>=3.3.2
  Downloading cryptography-39.0.2-cp36-abi3-manylinux_2_28_x86_64.whl (4.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 15.6 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.22.4)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2022.7.1)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.9/dist-packages (from yfinance) (0.0.11)
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.5-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.8/112.8 KB 7.6 MB/s eta 0:00:00
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (4.11.2)
Collecting appdirs>=1.4.4
  Downloading appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.1)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.9/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.9/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.9/dist-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (1.26.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: pycparser in /usr/local/lib/python3.9/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Installing collected packages: appdirs, frozendict, cryptography, yfinance
Successfully installed appdirs-1.4.4 cryptography-39.0.2 frozendict-2.3.5 yfinance-0.2.12

In [ ]:
import yfinance as yf

# define the start and end dates for the desired date range
start_date = '2019-01-01'
end_date = '2021-03-19'

# download the historical prices for AAPL from Yahoo Finance
aapl = yf.download('AAPL',start=start_date, end=end_date)

# save the data to a CSV file
aapl.to_csv('aapl_prices.csv')

# download the historical prices for DJIA from Yahoo Finance
djia = yf.download('^DJI',start=start_date, end=end_date)

# save the data to a CSV file
djia.to_csv('djia_prices.csv')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [ ]:
import pandas as pd
import numpy as np

# load the historical prices for AAPL and DJIA
aapl_prices = pd.read_csv('aapl_prices.csv', index_col='Date')
djia_prices = pd.read_csv('djia_prices.csv', index_col='Date')

# calculate the daily returns for AAPL and DJIA
aapl_returns = aapl_prices['Adj Close'].pct_change()
djia_returns = djia_prices['Adj Close'].pct_change()

In [ ]:
aapl_returns.head()

Date
2019-01-02         NaN
2019-01-03   -0.099607
2019-01-04    0.042689
2019-01-07   -0.002226
2019-01-08    0.019063
Name: Adj Close, dtype: float64

In [ ]:
djia_returns.head()

Date
2019-01-02         NaN
2019-01-03   -0.028271
2019-01-04    0.032925
2019-01-07    0.004190
2019-01-08    0.010883
Name: Adj Close, dtype: float64

In [ ]:
aapl_prices.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2019-01-02  38.722500  39.712502  38.557499  39.480000  38.047043  148158800
2019-01-03  35.994999  36.430000  35.500000  35.547501  34.257282  365248800
2019-01-04  36.132500  37.137501  35.950001  37.064999  35.719707  234428400
2019-01-07  37.174999  37.207500  36.474998  36.982498  35.640194  219111200
2019-01-08  37.389999  37.955002  37.130001  37.687500  36.319614  164101200

In [ ]:
aapl_returns.dropna().shape

(556,)

In [ ]:
djia_returns.dropna().shape

(556,)

In [ ]:
# calculate the correlation coefficient
corr_coef = np.corrcoef(aapl_returns.dropna(), djia_returns.dropna())[0, 1]

print(f"The correlation coefficient between AAPL and DJIA is: {corr_coef:.2f}")

The correlation coefficient between AAPL and DJIA is: 0.73

In [ ]:
import pandas_datareader.data as web
import datetime as dt

# set the start and end dates for the data
# start_date = dt.datetime(2021, 1, 1)
# end_date = dt.datetime(2022, 12, 31)

start_date = '2022-01-01'
end_date = '2022-12-31'
# download the S&P 500 index data from Yahoo Finance
sp500_data = yf.download('^GSPC',start=start_date, end=end_date)
# sp500_data = web.DataReader('^GSPC', 'yahoo', start_date, end_date)

# save the data to a CSV file
sp500_data.to_csv('sp500_data_2021_2022.csv')

[*********************100%***********************]  1 of 1 completed

In [ ]:
sp500_data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03,4778.140137,4796.640137,4758.169922,4796.560059,4796.560059,3831020000
2022-01-04,4804.509766,4818.620117,4774.270020,4793.540039,4793.540039,4683170000
2022-01-05,4787.990234,4797.700195,4699.439941,4700.580078,4700.580078,4887960000
2022-01-06,4693.390137,4725.009766,4671.259766,4696.049805,4696.049805,4295280000
2022-01-07,4697.660156,4707.950195,4662.740234,4677.029785,4677.029785,4181510000

In [ ]:
import pandas as pd

# load the S&P 500 index data
sp500_data = pd.read_csv('sp500_data_2021_2022.csv')

# calculate the daily returns
sp500_data['return'] = sp500_data['Adj Close'].pct_change()

# calculate the cumulative return
cumulative_return = (1 + sp500_data['return']).cumprod()

In [ ]:
cumulative_return

0           NaN
1      0.999370
2      0.979990
3      0.979045
4      0.975080
         ...
246    0.801579
247    0.798333
248    0.788736
249    0.802508
250    0.800469
Name: return, Length: 251, dtype: float64

In [ ]:

# calculate the average daily return and the standard deviation
avg_daily_return = sp500_data['return'].mean()
std_daily_return = sp500_data['return'].std()

# calculate the shape ratio
shape_ratio = (avg_daily_return / std_daily_return) * (252**0.5)

print('The shape ratio for S&P 500 in 2021-2022 is:', shape_ratio)

The shape ratio for S&P 500 in 2021-2022 is: -0.8055207465628142